String operations :

In [10]:
message = "Hi Python"

In [11]:
print(type(message)) # printing type of message variable

<class 'str'>

In [3]:
str1 = "Mitali"

In [4]:
del str1   # Deletion of string

In [5]:
print(str1)

NameError: name 'str1' is not defined

In [6]:
str1 = "Hello"

In [7]:
str2 = "World"

In [8]:
print(str1+str2)   # Concatination of strings

HelloWorld

In [9]:
print(str1+ " " +str2)  # Concatination of strings

Hello World

In [12]:
print("{} and {} both are best friends".format("Abhishek","Yash"))  # format() method for string

Abhishek and Yash both are best friends

In [13]:
print("{1} and {0} are best players ".format("Abhi","Yash"))   # format() method for string

Yash and Abhi are best players

In [14]:
print("{a},{b},{c}".format(a = "Mitali", b = "Sakshi", c = "Khushi"))   # format() method for string

Mitali,Sakshi,Khushi

In [15]:
name = "Mitali Bhati"

In [16]:
name.upper()  # print string in upper case

'MITALI BHATI'

In [17]:
name.lower() # print string in lower case

'mitali bhati'

In [18]:
name.swapcase() # It inverts case of all characters in a string

'mITALI bHATI'

In [19]:
len(name) # returns the length of string

12

In [20]:
str1 = " I like tea."

In [21]:
str2 = str1.replace("tea","coffee") # replaces the old sequence of characters with the new sequence

In [22]:
print(str1)

 I like tea.

In [23]:
print(str2)

 I like coffee.

List operations :

In [24]:
L1 = ["Mitali", 1, 2, 2.3, "India"]

In [25]:
print(type(L1))  # shows type of L1

<class 'list'>

In [26]:
L1[1:2] = [20,30]   # updating list

In [27]:
print(L1)

['Mitali', 20, 30, 2, 2.3, 'India']

In [28]:
L1*2  # Repetition of list

['Mitali', 20, 30, 2, 2.3, 'India', 'Mitali', 20, 30, 2, 2.3, 'India']

In [29]:
L2 = [10,20,30,"Hey"]

In [30]:
L1+L2   # Concatination of L1 and L2 lists

['Mitali', 20, 30, 2, 2.3, 'India', 10, 20, 30, 'Hey']

In [31]:
print(40 in L2)  #It returns true if a particular item exists in a particular list otherwise false

False

In [32]:
print(10 in L2)

True

In [33]:
len(L1)  # length of the list

6

In [34]:
len (L2)

4

Dictionary operations :

In [35]:
Student = {"Name":"Mitali","Age":24}

In [36]:
print(type(Student))  # Showing the type

<class 'dict'>

In [37]:
Dict = {}   # Creating Empty dictionary

In [38]:
print("Empty Dictionary:")

Empty Dictionary:

In [39]:
print(Dict)

{}

In [40]:
print("Name: %s" %Student["Name"]) # Accessing the dictionary values

Name: Mitali

In [41]:
print("Age: %s" %Student["Age"])

Age: 24

In [42]:
len(Student)  # Shows length of dictionary

2

In [44]:
Student.keys()   # It returns all the keys of the dictionary Student

dict_keys(['Name', 'Age'])

In [45]:
Student.values()  # It returns all the values of the dictionary

dict_values(['Mitali', 24])

In [46]:
Student.clear() # used to delete all the items of the dictionary

In [47]:
print(Student)

{}